.travel_banner {
  background: url(../images/plan-your-travel.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 263px;
  display: flex;
  align-items: center;
}

.travel_content {
  width: 32%;
  padding-left: 30px;
  color: #ffff;
}
.main {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.travel_title {
  font-weight: 500;
  font-size: 32px;
}

.travel_form_sec {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
}
.form_title {
  background: url(../images/pattern-line.png);
  background-size: contain;
  z-index: 4;
  background-color: #9e2e6a;
  text-align: center;
  font-size: 22px;
  padding: 15px 15px;
  color: #ffff;
}

#world-map {
  width: 675px;
  height: 551px;
  padding-bottom: 5px;
  border-bottom: 2px solid #9e2e6a;
}
.map_header {
  display: flex;
}
.demo_12 {
  padding: 0px 7px;
  width: 42%;
  background-color: #9e2e6a;
  display: flex;
  align-items: center;
  color: #ffff;
}
.demo_13 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px 13px;
}
.demo_14 {
}
.w_img_1 {
  content: " ";
  display: inline-block;
  align-content: center;
  background: url(../images/down-arrow-select.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 4px;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  transition: 0.6s;
}
.w_img {
  content: " ";
  display: inline-block;
  align-content: center;
  background: url(../images/down-arrow-select.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 4px;
  width: 20px;
  height: 20px;
  transition: 0.6s;
}

.sidebar {
  display: none;
  transition: all 3s ease-out;
  overflow: scroll;

  position: absolute;
  right: 565px;
  top: 499px;
  width: 258px;
  height: 200px;
  background-color: #cccccc;
  z-index: 34;
  transition: 3s;
}
.sidebar > li {
  padding: 10px;
  color: black;
  margin-bottom: 1px;
  font-size: 15px;
  border-left: 10px solid transparent;
}
.sidebar > li:hover {
  background-color: #9e2e6a;
  color: #fff;
  transition: 1s;
}

.travel_map_head {
  width: 60%;
  background: url(../images/pattern-line.png);
  background-size: contain;
  z-index: 4;
  background-color: #9e2e6a;
  text-align: center;
  font-size: 22px;
  padding: 15px 15px;
  color: #ffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.travel_map_head span {
  padding-left: 10px;
}
.jvectormap-container {
  background-color: #c4c4c4 !important;
}
.jvectormap-container .jvectormap-zoomout {
  background: url(../images/pattern-line.png);
  background-size: contain;
  z-index: 4;
  right: 9px;
  top: 10px;
  left: auto;
  padding: 15px;
  background-color: #a0587f;
}
.jvectormap-zoomin_1,
.jvectormap-zoomin_2 {
  margin-top: -3px;
  margin-left: -3px;
}

.jvectormap-container .jvectormap-zoomin {
  background: url(../images/pattern-line.png);
  background-size: contain;
  z-index: 4;
  right: 66px;
  left: auto;
  padding: 15px;
  background-color: #a0587f;
}
.jvectormap-zoomin,
.jvectormap-zoomout {
  padding: 20px;
}
.travel_form {
}
.form_cnt {
  display: flex;
}
.form_cnt span {
  display: inline-block;
  background: #ffff;
  width: 50%;
  padding: 20px 20px;
  border-bottom: 2px solid #b3b2b2;
}
.brd_btm {
  border-bottom: 2px solid #b3b2b2;
}
.brd_top {
  border-top: 2px solid #b3b2b2;
}
.form_cnt span:first-child {
  background-color: #dfdddd;
}
.travel_form_btm {
  font-size: 15px;
}
.travel_form_btm a {
  color: khaki;
}

@media screen and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  #world-map {
    width: 100%;
    height: 100vh;
  }
  .travel_form_sec {
    margin-top: 70px;
    width: 100%;
  }
}
